.bg {
  background-color: var(--bg-color);
}
.bg-white {
  background-color: var(--white);
}
.bg-black {
  background-color: var(--black);
}
.bg-brand {
  background-color: var(--brand-color);
}
.bg-brand-1 {
  background-color: var(--brand-color-1);
}
