:root {
  --bg-color: #ffffff;
  --bg-color-1: #fafafa;
  --text-color: #08243e;
  --text-color-1: #383332;
  --brand-rgb: 37, 99, 235;
  --brand-light-color: rgba(37, 99, 235, 0.2);
  --brand-color: #2563eb;
  --brand-color-1: #3b82f6;

  --white: #fff;
  --black: #0f172a;
  --gray: #a0aec0;

  --overlay-white: rgba(255, 255, 255, 0.75);
  --overlay-black: rgba(0, 0, 0, 0.6);
  --success: #38a169;
  --success-rgb: 56, 161, 105;
  --alert: #dc2626;
  --alert-rgb: 220, 38, 38;
  --warning: #dd6b20;
  --warning-rgb: 255, 204, 0;
  --border: #dee2e6;
}
