.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  text-align: left;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}
.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: space-around;
  align-items: center;
}
.grid-row-3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}
.elipsis-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fw {
  width: 100%;
}

.fh {
  height: 100%;
}
.pointer {
  cursor: pointer;
}
.icon-pointer {
  cursor: pointer;
  &:hover {
    background-color: #f9fafb;
  }
}
